<a href="https://colab.research.google.com/github/NiveditJain/dataProcessingUsingSQLlite/blob/master/mainCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import sqlite3
import os
connTempSQL=sqlite3.connect('TempSQL.sql')
df=pd.read_csv('edges.csv',names=['person','following'])
df.to_sql('DataSetInput',connTempSQL)
currTempSQL=connTempSQL.cursor()
currTempSQL.execute('SELECT person,following from DataSetInput')
tupples=[]
for x in currTempSQL:
	tupples.append(x)
connSQLOutput=sqlite3.connect('processedData.sql')
currSQLOutput=connSQLOutput.cursor()
currSQLOutput.execute('CREATE TABLE DataSet (person INTEGER, following INTEGER)')
for tupple in tupples:
	currTempSQL.execute('SELECT person,following from DataSetInput WHERE person=? and following=? and EXISTS (SELECT * from DataSetInput WHERE person=? and following=?)',(tupple[0],tupple[1],tupple[1],tupple[0]))
	for y in currTempSQL:
		currSQLOutput.execute('INSERT INTO DataSet (person,following) VALUES (?,?)',y)
connTempSQL.commit()
currTempSQL.close()
connTempSQL.close()
connSQLOutput.commit()
query='SELECT * from DataSet'
data=pd.read_sql(query,connSQLOutput)
data.set_index('person',inplace=True)
data.to_csv('processedData.csv',columns=['following'])
currSQLOutput.close()
connSQLOutput.commit()
connSQLOutput.close()

In [80]:
import pandas as pd
df=pd.read_csv('edges.csv',names=['person','following'])
df

         person  following
0             1      11553
1             1    8762940
2             1    8762941
3             1     688136
4             1    8762942
5             3     718952
6             3    3109655
7             3     562897
8             3          6
9             3          7
10            3      12852
11            3      90259
12            3    8762941
13            3     645510
14            3     427258
15            3      45567
16            3    1374301
17            3      38253
18            3      79994
19            3         16
20            3          9
21            3    8762943
22            3     385294
23            3    1610056
24            3         10
25            3         12
26            3         11
27            3       3748
28            3         13
29            3      37986
...         ...        ...
9301901  220634    1765589
9301902  220634    2005688
9301903  220634    2609700
9301904  220634     734028
9301905  220634    1032710
9301906  220634      44014
9301907  220634    2693893
9301908  220634    9591740
9301909  220634    3272394
9301910  220634     194279
9301911  220634    1769076
9301912  220634    1260014
9301913  220634    5471144
9301914  220634    9591741
9301915  220634     269670
9301916  220634     653486
9301917  220634     217678
9301918  220634     217676
9301919  220634     730127
9301920  220634      37532
9301921  220634     197125
9301922  220634     683046
9301923  220634    2609734
9301924  220634     962443
9301925  220634    2609732
9301926  220634     197114
9301927  220634    2609723
9301928  220634     530070
9301929  220634    2609721
9301930  220634       5482

[9301931 rows x 2 columns]